* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: bold;
  font-size: 90px;
  margin: 0;
  color: #f9a825;
}

.description-title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.description-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;

  p {
    margin: 8px 0;
  }
}

.search-bar {
  display: flex;
  gap: 8px;
  align-items: center;
}

#media-search {
  margin-bottom: 0;
  background-color: #ffffff;
  border: none;
  border-bottom: solid #f9a825;
  outline: none;
  padding: 4px;
  width: 100%;
  box-shadow: none;
}

#media-search:focus {
  border-bottom: 2px solid #f9a825;
  box-shadow: none;
}

input:focus {
  box-shadow: none;
}

.btn-circle {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 11px;
  border-radius: 20px;
  border: 1px solid #f9a825;
  background-color: #f9a825;
  text-align: center;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-circle:hover {
  opacity: 0.7;
}

.btn-circle:focus,
.btn-circle:active {
  background-color: #f9a825;
  color: #ffffff;
  outline: none;
}

.pages {
  font-family: "Berkshire Swash", cursive;
}

.previews {
  font-family: "Limelight", cursive;
}

.btn-books,
.btn-movies {
  cursor: pointer;
  color: #ffffff;
  background-color: #f9a825;
  border-radius: 30px;
  border: 1px solid #f9a825;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  margin: 8px 0px;
  width: 225px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-books:hover,
.btn-movies:hover {
  opacity: 0.7;
}

.btn-books:focus,
.btn-books:active,
.btn-movies:focus,
.btn-movies:active {
  background-color: #f9a825;
  color: #ffffff;
  outline: none;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 20px !important;
  padding: 20px !important;
  border-radius: 20px !important;

  p {
    margin: 8px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 300px;
  }
}

.card-title {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 16px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  flex: 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
